@import url(http://weloveiconfonts.com/api/?family=entypo);
.btn-default{
    border-color: #040404;
}

/* banner */
.bg-image {
    background-size: cover;
    background-position: center center;
  }
.banner-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.banner {
    padding-bottom: 40px;
}


.text-image{
    text-align: left !important;
    border-radius: 3px;
    align-content: center;
}

.text-white{
    color: white;
}
.footer-text{
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: red;
}

/* Products */
.heading-center{
    text-align: center;
}
.product{
    margin-top: 40px;
}

.btn{
    border: 1px solid #433e3e;
    background-color: unset;
    border-radius: 3px;
}
.btn:hover{
    color: #433e3e;
    
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

#card-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}


#card-items h3{
    color: black;
}
.price{
    font-size: 18px;
    color: #6f6868;
}
.description{
    font-size: 16px;
    
}
@media (min-width: 1200px) {
    .flex-item:nth-child(19){
      margin-left: 220px;
    }
  }
.flex-item {
    /* flex: 1 1 calc(33.333% - 20px); */
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 460px;
    height: 650px;
}
#flex-container hr{
    border-top: 1px solid #e1d8d8;

}

.details{
    width: 66px;
    height: 38px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
}
.cart-btn{
    /* width:91px; */
    height: 38px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
}



/* contact */

.contact-center{
    text-align: center;
   
}

hr.style1{
    border-top: 1px solid #a59e9e;
}
.center{
    display: grid;
    justify-content: center;
}
@media (min-width: 1200px) {
    .contact-center{
    margin-top: 100px;
    }
}

@media (min-width: 1200px) {
    .form-control{
        width: 135%;
    }
}
@media (min-width: 1200px) {
    .form-btn{
        margin-left: 110px;
    }
}
.form-btn{
    color: white;
    background-color:gray;
    border-color: unset;
    width: 73px;
}
@media screen and (min-width:344px) and (max-width:1024px) {
    .form-btn{
    margin-left: 60px !important;
    }
}
label{
color: gray;
}


/* nav bar */
.nav-link {
    color: gray !important; /* Default color */
    text-decoration: none;
    padding:10px;
  }
  
  .nav-link.active {
    color: black !important; /* Active link color */
  }

/* cart page */

@media (min-width: 1200px) {
    .cart{
      margin-top: 100px;
    }
  
  }
.checkout{
    background-color: black;
    border-radius: 3px;
}
.empty-cart{
text-align: center;
height: 352px;
align-content: center;
}
/* btn text color */
.btn:hover {
    color: white !important;
}
@media (min-width: 1200px) {
    .list-item{
        gap: 50px;
    }
}
.sub-text{
    font-size: 24px;
}